* {
  font-family: sans-serif;
}

fieldset {
  border: none;
}

fieldset label,
input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
}

fieldset input,
textarea {
  border: 1px solid rgb(201, 201, 201);
}

fieldset input {
  height: 30px;
}

fieldset textarea {
  height: 110px;
}

header {
  height: 40px;
  line-height: 2.2;
  background-color: rgb(86, 43, 129);
  color: white;
}

header h1 {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 100;
  padding-left: 15px;
}

main {
  background-color: rgb(240, 240, 240);
}

fieldset label {
  font-weight: 600;
}

fieldset legend {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2;
}

fieldset img {
  height: 185px;
  width: 100%;
}

fieldset h2 {
  font-size: 1.6rem;
}

form button {
  width: 80px;
  height: 30px;
  font-size: 1rem;
  background-color: rgb(86, 43, 129);
  color: white;
  display: block;
  float: right;
  border: none;
  border-radius: 5px;
}
